---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import SocialPill from '../components/SocialPill.astro';
import EmailIcon from '../components/icons/Email.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro';
import ProjectsIcon from '../components/icons/Proyects.astro';
import Proyects from '../components/Proyects.astro';

---

<Layout title="Portfolio de José Ignacio Villagra">
	<main class="px-4">
		<SectionContainer id="about" class="py-40 pb-24">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6">
				Hola, Soy José Ignacio<div class="flex justify-center items-center"> 
				<Badge>Buscando Práctica</Badge>
			</div>
			</h1>
			<h2 class="text-xl lg:text-2xl text-[#f8f8ff] opacity-50 text-wrap max-w-[700px]" >
				Egresado de Ingeniería en informática en busca de mi práctica profesional. Cuento  con conocimientos en desarrollo web con tecnologías como React, Node, Astro , Tailwind y base de datos tanto relaciones como no relaciones, también cuento con conocimientos en Python los cuales he utilizado para optimizar flujos en mi trabajo actual. 
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				
			
					<SocialPill href="https://github.com/IgnaJo">
						<GitHubIcon class="size-4 md:size-6"/>
						Github
					</SocialPill>
					<SocialPill href="mailto:ignacio.villagrah@gmail.com">
						<EmailIcon class="size-4 md:size-6"/>
						Ignacio.villagrah@gmail.com
					</SocialPill>
			
			</nav>
		</SectionContainer>

		
		<SectionContainer id="experiencia">
			<h2 class="text-3xl max-w-[700px] font-semibold mb-6 flex gap-x-2 items-center">
				<ProjectsIcon class="size-10"/>
				Antecedentes
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2  class="text-3xl max-w-[700px] font-semibold mb-6 flex gap-x-2 items-center">
				<ProjectsIcon class="size-10"/>
				Proyectos
			</h2>
			<Proyects />
		</SectionContainer>


		
	</main>
</Layout>
