---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date:'Diciembre 2024',
        title: "AWS Arquitectura en la Nube",
        description: "Curso impartido por AWS Academy que abarca los fundamentos de la creación de infraestructura TI en AWS, como optimizar el uso de la nube para crear soluciones que se alineen con los requerimientos de la organización, permitiendo diseñar y desplegar aplicaciones escalables y seguras en la nube siguiendo los patrones y buenas prácticas que recomienda AWS."   ,
        link: 'https://www.credly.com/badges/fd9ee456-f183-4ae7-8fdd-a0f502608d48/public_url',
        image: './projects/AWS_ARQ.webp'
    },
    {
        date:'Junio 2024',
        title: "Fundamentos de Ciberseguridad",
        description: "Curso impartido por CISCO Networking Academy que abarca las bases de la ciberseguridad, permitiendo identificar los principales amenazas y ataques ciberneticos, junto con sus estrategias de mitigación y protección, permitiendo adquirir las herramientas para proteger tanto a individuos como organizaciones."   ,
        link: 'https://www.credly.com/badges/0f924918-b996-49c8-a95f-65d2d6d65aff/public_url',
        image: './projects/CISCO_SECURITY.webp'
    },
    {
        date:'Diciembre 2023',
        title: "Egresado Ingeniería en Informática",
        description: "CFT INACAP",
        link: '#'
    },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">   
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        )
        
        )
    }               
  
</ol>



