

<header class="flex justify-between items-center py-5 px-10  w-full xl:w-[1120] mx-auto">
    <img class="rounded-full w-12 h-12" 
        src="favicon.webp" 
        alt="profile"
        />
    <nav class="flex flex-row gap-x-10 opacity-80"> 
        <a href="#top">Inicio</a>
        <a href="#experiencia">Sobre mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>