---
let isOpen = false;

const toggleMenu = () => {
    isOpen = !isOpen;
};
---

<header class="flex justify-between items-center py-5 px-6 md:px-10 w-full max-w-[1120px] mx-auto relative">
    <!-- Logo -->
    <img class="rounded-full w-12 h-12" src="favicon.webp" alt="profile" />

    <!-- Botón menú hamburguesa (solo en móviles) -->
    <button class="block md:hidden p-2 rounded focus:outline-none" onclick?={toggleMenu}>
        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-Linecap="round" stroke-Linejoin="round" stroke-Width="2" d="M4 6h16M4 12h16m-7 6h7"/>
        </svg>
    </button>

    

    <!-- Menú de navegación en pantallas grandes -->
    <nav class="hidden md:flex flex-row gap-x-6 md:gap-x-10 opacity-80 text-sm md:text-base">
        <a href="#top" class="cursor-pointer hover:opacity-100 transition-opacity hover:underline">Inicio</a>
        <a href="#experiencia" class="cursor-pointer hover:opacity-100 transition-opacity hover:underline">Sobre mí</a>
        <a href="#proyectos" class="cursor-pointer hover:opacity-100 transition-opacity hover:underline">Proyectos</a>
        <a href="#contact" class="cursor-pointer hover:opacity-100 transition-opacity hover:underline">Contacto</a>
    </nav>

    <!-- Menú hamburguesa en móviles -->
    <div id="mobile-menu" class="fixed inset-0 bg-black/90 backdrop-blur-md flex flex-col items-center justify-center space-y-6 text-white text-lg z-50 transform scale-0 opacity-0 transition-all duration-300 md:hidden">
        <a href="#top" class="cursor-pointer hover:text-gray-300 transition">Inicio</a>
        <a href="#experiencia" class="cursor-pointer hover:text-gray-300 transition">Sobre mí</a>
        <a href="#proyectos" class="cursor-pointer hover:text-gray-300 transition">Proyectos</a>
        <a href="#contact" class="cursor-pointer hover:text-gray-300 transition">Contacto</a>
    </div>

    <script is:inline>
        const button = document.querySelector("button");
        const menu = document.getElementById("mobile-menu");

        button.addEventListener("click", () => {
            menu.classList.toggle("scale-0");
            menu.classList.toggle("opacity-0");
        });

        document.querySelectorAll("#mobile-menu a").forEach(link => {
            link.addEventListener("click", () => {
                menu.classList.add("scale-0");
                menu.classList.add("opacity-0");
            });
        });
    </script>
</header>
