---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// Supports weights 100-900
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-white dark:text-[#f8f8ff]" >
 
		<Header  />
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	:root {
		color-scheme:  dark;
		
	}
	html {
		font-family: 'Onest Variable' system-ui, sans-serif;
		
	}

	body{
		display: flex;
		width: 100%;
		max-width: 100%;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		scroll-behavior: smooth;
    overscroll-behavior: none;
		background-image: linear-gradient(to right, #434343 0%, black 100%);		}
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
	
</style>
